@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@400;600&family=Montserrat+Subrayada:wght@700&family=Noto+Sans+KR:wght@500&display=swap");

@import "reset.css";
@import "variables.css";
@import "components/mobile-menu-btn.css";
@import "./components/header.css";
@import "./components/intro.css";

body {
  font-family: var(--main-font);
  background-color: rgba(0, 0, 0, 0.5);
  color: #333;
}
