.about-me {
  margin: 0 auto;
  padding-top: 10px;
  background-color: rgba(0, 0, 0, 0.2);
  line-height: 1.3;
}
.about-me .cont-about-me {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.cont-about-me img {
  max-width: 280px;
  margin: 50px 0;
  border: 5px solid #fff;
  border-radius: 100%;
}
.cont-about-me .txt-about-me {
  font-size: 18px;
}
.about-me .list-exp-cards {
  display: flex;
  justify-content: space-evenly;
  margin-top: 30px;
}
.list-exp-cards li {
  width: 46%;
  padding: 20px;
  box-shadow: 0 3px 5px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  background-color: #fff;
}
.list-exp-cards li .card-me {
  margin-top: 15px;
  font-size: 14px;
  font-weight: 600;
  text-align: right;
}

/* tablet */
@media screen and (min-width: 768px) {
  .about-me .cont-about-me {
    flex-direction: row;
    justify-content: space-between;
  }
  .cont-about-me img {
    margin-right: 80px;
  }
  .cont-about-me .txt-about-me {
    font-size: 18px;
  }
}
