.email-me .gform {
  width: 100%;
  padding: 10px 30px 0;
  border: 10px solid var(--accent-color-1);
  border-radius: 20px;
  background-color: #fff;
  color: var(--accent-color-1);
}
.email-me .box-input {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.email-me .box-input label {
  margin-bottom: 10px;
  font-size: 20px;
  font-weight: 600;
}
.email-me .box-input input,
.email-me .box-input textarea {
  padding: 8px 10px;
  border: 0;
  border-bottom: 1px solid var(--accent-color-1);
  font-size: 16px;
  font-family: inherit;
}
.email-me .box-input textarea {
  border: 1px solid var(--accent-color-1);
  height: 150px;
  resize: none;
}
.email-me .btn-send {
  padding: 15px 0;
  border: 0;
  border-radius: 30px;
  background: var(--bg-gradient);
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
.email-me .thankyou_message {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}

/* pc */
@media screen and (min-width: 1024px) {
  .email-me {
    margin-top: 380px;
  }
}
