.header {
  display: none;
}

/* tablet */
@media screen and (min-width: 768px) {
  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: flex-end;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    padding: 20px 40px;
    background-color: var(--bg-color);
    font-size: 18px;
  }
  .header .link-logo {
    position: absolute;
    left: 40px;
    width: 30px;
    height: 30px;
    background: url("../../imgs/icons/moon-stars-fill.svg") no-repeat;
    background-size: 100%;
  }
  .header .list-menu {
    display: flex;
    align-items: center;
  }
  .header .list-menu li {
    margin-left: 20px;
  }
  .header .cont-mode {
    display: flex;
    width: 90px;
    background-color: #18284869;
    margin-left: 20px;
    padding: 5px;
    border-radius: 30px;
  }
  .header .cont-mode .btn-mode {
    width: 35px;
    height: 35px;
    border: 0;
    border-radius: 50%;
    background: url("../../imgs/icons/sunglasses.svg") no-repeat
      var(--accent-color-1);
    background-size: 70%;
    background-position: 50% 50%;
    color: #fff;
    cursor: pointer;
  }
}

@media (prefers-color-scheme: dark) {
  .header .link-logo {
    background-image: url("../../imgs/icons/moon-stars-fill-w.svg");
  }
  .header .cont-mode {
    justify-content: flex-end;
    background-color: rgba(0, 0, 0, 0.2);
  }
  .header .cont-mode .btn-mode {
    background-image: url("../../imgs/icons/sun.svg");
  }
}
